<h1>Pick some foods:</h1>

<table class="noselect" id="pack_table" style="width:100%">
	<tr style='text-align: left;' class="pack_row" >
		<th>Quantity: </th>
		<th>Food </th>
		<th>Calories </th>
		<th>Weight (kilograms) </th>
		<th>Weight (Lbs) </th>
		<th>Price </th>
		<th>Taste </th>
	</tr>
	{{#each food}}
	  <tr class="pack_row item_row" id="{{id}}" onClick='clickRow(event, "left")' oncontextmenu='clickRow(event, "right")' >
	  	<td class="pack_quant" >
	  		<input class="quantField" type="number" step='1' min='0' onChange='clickItem(event)'/>
			</td>
	    <td>{{name}}</td>
	    <td>{{calorie}}</td>
	    <td>{{weight}}</td>
	    <td>{{weight_lb}}</td>
	    <td>{{price}}</td>
	    <td>{{taste}}</td>
	  </tr>
		{{/each}}
</table> 
<br>
<br>
<div id='pack_result'><!-- inject goes here --></div>

<br>
<br>
<a href="index" >Home</a>