<h1>Pick some foods:</h1>
<div id="plusButton" onClick='plusUpDown("up")'>+</div>
<div id="minusButton" onClick='plusUpDown("down")'>-</div>
<div id="resetButton" onClick='reset()'>Reset</div>
<table class="noselect" id="pack_table" style="width:100%">
	<tr style='text-align: left;' class="pack_row" >
		{{#each hikers}}
		  	<th class="quant_cell"><input class="nameField" value="Person{{this}}" /></th>
		{{/each}}
		<th>Food </th>
		<th>Calories </th>
		<th>Weight (kilograms) </th>
		<th>Weight (Lbs) </th>
		<th>Price </th>
		<th>Taste </th>
	</tr>
	{{#each food}}
	  <tr class="pack_row item_row" id="{{id}}" onClick='clickRow(event, "left")' oncontextmenu='clickRow(event, "right")' >
	  	{{#each ../hikers}}
		  	<td hikerID="{{this}}" class="pack_quant quant_cell" >
		  		<input class="quantField" type="number" step='1' min='0' onChange='clickItem(event)'/>
			</td>
		{{/each}}
	    <td>{{name}}</td>
	    <td>{{calorie}}</td>
	    <td>{{weight}}</td>
	    <td>{{weight_lb}}</td>
	    <td>{{price}}</td>
	    <td>{{taste}}</td>
	  </tr>
		{{/each}}
</table> 
<br>
<br>
<div id='pack_result'><!-- inject goes here --></div>

<br>
<br>
<div class="link">
	<a href="index" >Home</a>
</div>